[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=stagingnotifier
X-KDE-DBus-ModuleName=stagingnotifier
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-phase=1
Comment=Monitors directories for changes
Name=Staging KIO slave watcher
