[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=stashnotifier
X-KDE-DBus-ModuleName=stashnotifier
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-phase=1
Comment=Monitors directories for changes
Name=Stash KIO slave watcher
